<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<nav>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="logout">Log Out</a>
    {% else %}
      <li><a href="register">Register</a>
      <li><a href="login">Log In</a>
    {% endif %}
  </ul>
</nav>

<body>
<!--
  <h1>Some famous Computer Scientists</h1>
  <div>{{data}}</div>
  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>
-->

<h1>Movie Database</h1>

<p><a href="movies">See Movies</a></p>
<p><a href="genres">See Genres</a></p>
<p><a href="directors">See Directors</a></p>
<p><a href="actors">See Actors</a></p>

<h2>Some interesting queries...</h2>

<!--
<div id="query1">1. actors frequently cast by a certain director (ex. wes anderson) </div>
<script>
var x ="table", i;
for (i=1; i<=6; i++) {
  x = x + "<h" + i + ">Heading " + i + "</h" + i + ">";
}
document.getElementById("query1").innerHTML = x;
</script>
-->
<h3> 1. Actors frequently cast by a certain director (ex. Wes Anderson) </h3>
<p> actor:
	{% for actor in actor_1: %}
		{% set link = '/actors/' + actor %}
		{% set link = link.replace(" ", "%20") %}
		<a href={{link}}>{{actor}}</a>;
	{% endfor %}
</p>
<p> count:
	{% for count in count_1: %}
		{{count}};
	{% endfor %}
</p>
<!--
<table>
	<tr>
		<th>Actor</th>
		<th>Count</th>
	</tr>
</table>
-->
<!--
	{% for actor in actors_1: %}
	{% set link = '/actors/' + actor %}
	{% set link = link.replace(" ", "%20") %}
	<tr><a href={{link}}>{{actor}}</a></tr>
	{% endfor %}
-->

<h3> 2. All the awards that movies by a director have won (ex. Wes Anderson)</h3>
<p> award name:
	{% for award in award_name_2: %}
		{{award}};
	{% endfor %}
</p>
<p> year:
	{% for year in year_2: %}
		{{year}};
	{% endfor %}
</p>
<p> movie title:
	{% for title in title_2: %}
		{% set link = '/movies/' + title %}
		{% set link = link.replace(" ", "%20") %}
		<a href={{link}}>{{title}}</a>;
	{% endfor %}
</p>

<h3> 3. Info about movies in the drama genre with more than a 90 popularity </h3>
<p> movie title:
	{% for title in title_3: %}
		{% set link = '/movies/' + title %}
		{% set link = link.replace(" ", "%20") %}
		<a href={{link}}>{{title}}</a>;
	{% endfor %}
</p>
<p> length:
	{% for length in length_3: %}
		{{length}};
	{% endfor %}
</p>
<p> year:
	{% for year in year_3: %}
		{{year}};
	{% endfor %}
</p>
<p> popularity:
	{% for pop in popularity_3: %}
		{{pop}};
	{% endfor %}
</p>


<h2> Search bar... ** CURRENTLY UNDER CONSTRUCTION ** </h2>
<form method="POST" action="/add"> <!-- this should be /search but we will add this functionality later -->
<p>Search movie, genre, movie, director or actor by name: <input type="text" name="name"> <input type="submit" value="Search"></p>
</form>

</body>


</html>